* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bk.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.engine-icon-container {
    width: 5%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    margin-left: 15px;
    display: flex;
    align-items: center;
    opacity: 0;
}

.search-container {
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    backdrop-filter: blur(1px);
    transform: translateY(-175px);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(0,0,0,.2) 0 0 8px 4px;
    transition: all 0.7s ease-in-out;
    width: 230px;
    max-width: 500px;
}

.search-container:hover {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.35);
}

.search-container:hover .engine-icon-container {
    opacity: 1;
}

.search-container:focus-within {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.35);
}

.search-container:focus-within .engine-icon-container {
    opacity: 1;
}

input::-ms-input-placeholder {
    text-align: center;
    color: #272727;
    user-select: none;
}

input::-webkit-input-placeholder {
    text-align: center;
    color: #272727;
    user-select: none;
}

.search-engine {
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff00;
}

.search-input {
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    background-color: #ffffff00;
    text-align: center;
    caret-color: #4f4f4f;
    color: #4f4f4f;
}

.search-container:hover .search-input {
    width: 100% - 20px;
}

.search-container:focus-within .search-input {
    width: 100% - 20px;
}

.search-icon-container {
    width: 5%;
    height: 100%;
    transition: all 0.1s ease-in-out;
    margin-right: 15px;
    align-items: center;
    display: flex;
    opacity: 0;
}

.search-container:hover .search-icon-container {
    opacity: 1;
}

.search-container:focus-within .search-icon-container {
    opacity: 1;
}

svg {
    width: 20px;
    height: 20px;
    fill: #504d4d;
}

.history {
    display: block;
    width: 70%;
    max-width: 500px;
    height: 300px;
    position: absolute;
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.history:onblur {
    visibility: hidden;
    opacity: 0;
}

.history-selector {
    backdrop-filter: blur(4px);
    background-color: #ffffff60;
    border-radius: 17px;
    overflow: hidden;
}

.history-selector li{
    box-sizing: content-box;
    height: 24px;
    width: 100%;
    padding-top: 6px;
    padding-left: 25px;
    font-size: 14px;
    color: #1e1e1e;
    transition: padding-left 0.2s ease-in-out;
}

.history-selector li:first-child {
    height: 24px;
    padding-top: 8px;
}

.history-selector li:last-child {
    height: 18px;
    padding-bottom: 7px;
}

.history-selector li:hover {
    padding-left: 36px;
    background-color: #ffffff6a;
}

.translate-item {
    
}

.default-item {

}
